body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h5 {
  /* color: #2BA3C5; */
  /* color: #2fc4df; */
  color: #39c5de;
  font-weight: bold;
}
